body {
  font-family: "Source Sans Pro", sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
li {
  list-style: none;
  font-size: 35px;
}

a:visited {
  color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: burlywood;
}
#logo {
  font-family: "Pacifico", cursive;
  display: inline-block;
}

#searchBar {
  display: inline-block;
  font-size: 20px;
}
#searchB:hover {
  color: burlywood;
}
#navBar {
  border-bottom: 1px solid grey;
  height: 70px;
}
#bodyContent {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}
.elem {
  background-color: white;
  width: 500px;
}
.imgL {
  height: 400px;
  width: 100%;
}
/* .commentElem {
  background-color: blue;
} */
.saved:hover {
  color: pink;
}
h1 {
  font-size: 20px;
  margin: 5px 20px;
}
.saved,
.comment {
  display: inline;
  font-size: 15px;
  padding: 5px 15px;
}
.comment;
